# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/
.Python

# Environment variables
*.env

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Audio / temp files
*.wav
*.mp3
*.m4a
*.flac
